.scenes-hero {
    padding: 3rem 2rem;
    background-color: var(--tonique-light);
    text-align: left;
}

.scenes-title {
    font-size: var(--text-6xl);
    font-weight: 800;
    color: var(--marron);
    ;
    margin: 0;
}

.scene-card {
    position: relative;
    margin-bottom: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

.scene-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.scene-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.scene-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.scene-name {
    font-size: var(--text-3xl);
    font-weight: 700;
    color: var(--tonique-light);
    margin: 0 0 0.5rem 0;
    text-align: center;
}

.scene-subtitle {
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--tonique-light);
    text-align: center;
    margin: 0;
}